        <div class="modal-content">        
            <button type="button" class="close" ng-click="cancel();">
                <i class="fa fa-times" style="margin:10px; color:blue;"></i>
            </button>
            <div class="modal-header">
                <h3 class="modal-title" ng-model="title">{{title}}</h3>
            </div>
            <div class="modal-body">
                <form name="form" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name </label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="severity.name" class="form-control" placeholder="Severity name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Color </label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="severity.color" class="form-control" placeholder="Color"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <a class="btn btn-sm btn-default" ng-click="cancel()"><i class="fa fa-reply"></i> Cancel</a>
                    <button ng-click="save(severity);"
                        ng-disabled="form.$invalid || enableUpdate"
                        class="btn btn-sm btn-primary"
                        type="button">
                        <i class="fa fa-check"></i> {{buttonText}}
                    </button>  
                </div>
            </div>
        </div>